{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{heading}}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'show_genres' %}">Genres</a> |
            <a href="{% url 'books_list' %}">List of Books</a> |
            <a href="{% url 'create_new' %}">Add A Book</a> |
            <a href="{% url 'magazines_list' %}">List of Magazines</a> |
            <a href="{% url 'create_new_magazine' %}">Add A Magazine</a> |
            <br><br>
            <a href="{% url 'admin:index' %}">Admin Login</a> |
            <a href="{% url 'login' %}"> Login</a> |
            <a href="{% url 'logout' %}"> Logout</a> |
            <br>
        </nav>
    </header>
    <main>
        <h1><u>{{heading}}</u></h1>
        <div>
            <img src={{magazine.image}} height="300px">
            <h1>{{ magazine.title }}</h1>
            <p>Release Cycle: {{magazine.release_cycle}}</p>


            <h3> Genres: </h3>
            {%for genre in magazine.genres.all %}
            <p> {{genre.name}}</p>
            {%endfor%}


            <p>
            <h2>Description:</h2>{{magazine.description}}</p>
        </div>


        <div>
            {% for issue in magazine.issues.all %}
            <img src={{issue.cover_issue_image}} height="200px">
            <p>Issue {{ issue.issue_number }}</p>
            <p><b>{{ issue.issue_title }}</b></p>
            <h2><u>Description:</u></h2> {{issue.description}}
            <br><br><br><br>
            {% endfor %}
        </div>

        <br><br>

        <button>
            <a href="{% url 'update_magazine' magazine.pk %}">Edit</a>
        </button>
        <br><br>
        <button>
            <a href="{% url 'delete_magazine' magazine.pk %}">Delete</a>
        </button>

    </main>

    <footer>
        <p><b>Copyright 2022 by me</b></p>
        <p>This is my site that contains
            all of books and magazines that I would like
            to recommend you.</p>
    </footer>
</body>

</html>