
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'show_genres' %}">Genres</a> |
            <a href="{% url 'books_list' %}">List of Books</a> |
            <a href="{% url 'create_new' %}">Add A Book</a> |
            <a href="{% url 'magazines_list' %}">List of Magazines</a> |
            <a href="{% url 'create_new_magazine' %}">Add A Magazine</a> |
            <br><br>
            <a href="{% url 'admin:index' %}">Admin Login</a> |
            <a href="{% url 'login' %}"> Login</a> |
            <a href="{% url 'logout' %}"> Logout</a> |
            <br>
        </nav>
    </header>
<main>
Howdy Thurr Pardner, Please make sure to Log into your account!! 




    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</main>
<footer>
    <p><b>Copyright 2022 by me</b></p>
    <p>This is my site that contains
        all of books that I would like
        to recommend you.</p>
</footer>
</body>

</html>