@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, button, select, textarea, input {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: beige;
}

header {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
background-color: #63492b;
border: 4px solid #44311c;
}

footer {

  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: #63492b;
}

body {
  margin: 0px;

}


a,
a:visited {
  text-decoration: none;
  color: #000000;
}

button.button {
  background-color: #3294e4;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #3294e4;
  color: #3294e4;
}

button.button:active {
  background-color: lightblue;
}

input, textarea {
  border: 1px solid #3294e4;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
}

td, th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.book-card-title {
  margin-bottom: 0;
}

.book-card-date {
  color: darkgray;
}

.book-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.book-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.book-form label {
  text-align: right;
}

.book-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  background-color: rgb(148, 114, 82);
  border: 2px solid rgb(73, 51, 18);
  margin: auto;
  width: 60%;
  padding: 30px;
}

div {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10PX;
  background-color:white;
  border: 2px solid cornflowerblue; 
  width: 90%;
}

img {
  border: 3px solid rgb(0, 0, 0);

}