{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}"> {% endcomment %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Book</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'show_genres' %}">Genres</a> |
            <a href="{% url 'books_list' %}">List of Books</a> |
            <a href="{% url 'create_new' %}">Add A Book</a> |
            <a href="{% url 'magazines_list' %}">List of Magazines</a> |
            <a href="{% url 'create_new_magazine' %}">Add A Magazine</a> |
            <br><br>
            <a href="{% url 'admin:index' %}">Admin Login</a> |
            <a href="{% url 'login' %}"> Login</a> |
            <a href="{% url 'logout' %}"> Logout</a> |
            <br>
        </nav>
    </header>
    <main>

        <div class="main">
            <!-- Create a Form -->
            <form method="POST">
                <!-- Security token by Django -->
                {% csrf_token %}
                Are you want to delete this item ?
                <input type="submit" value="Yes" />
                <a href="/"> Cancel </a>
            </form>
        </div>
    </main>
    <footer>
        <p><b>Copyright 2022 by me</b></p>
        <p>This is my site that contains
            all of books that I would like
            to recommend you.</p>
    </footer>
</body>

</html>