{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{heading}}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'show_genres' %}">Genres</a> |
            <a href="{% url 'books_list' %}">List of Books</a> |
            <a href="{% url 'create_new' %}">Add A Book</a> |
            <a href="{% url 'magazines_list' %}">List of Magazines</a> |
            <a href="{% url 'create_new_magazine' %}">Add A Magazine</a> |
            <br><br>
            <a href="{% url 'admin:index' %}">Admin Login</a> |
            <a href="{% url 'login' %}"> Login</a> |
            <a href="{% url 'logout' %}"> Logout</a> |
            <br>
        </nav>
    </header>
    <main>

        <h1><u>{{heading}}</u></h1>
        <div>
            <img src={{book.image}} height="300px">
            <h1>{{ book.title }}</h1>
            <h2>By {{ book.author.first.author_name }}</h2>
            <p>Pages: {{book.pages}}</p>
            <p>ISBN: {{book.isbn}}</p>
            <p>Publishing Year: {{book.year_published}}</p>
            <br>
            <p>
            <h2>Description:</h2>{{book.description}}</p>
            <p>
            <h1>Reviews:</h1>
            </p>
            <ul>
                <li>
                    {% for review in book.reviews.all %}
                    <p>Review: {{ review.text }}</p>
                    <h5>{{ review.user }}</h5>
                    {% endfor %}
                </li>
            </ul>
            <button>
                <a href="{% url 'update_book' book.pk %}">Edit</a>
            </button>
            <br><br>
            <button>
                <a href="{% url 'delete_book' book.pk %}">Delete</a>
            </button>
        </div>
    </main>

    <footer>
        <p><b>Copyright 2022 by me</b></p>
        <p>This is my site that contains
            all of books that I would like
            to recommend you.</p>
    </footer>
</body>

</html>