{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ heading }} </title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'show_genres' %}">Genres</a> |
            <a href="{% url 'books_list' %}">List of Books</a> |
            <a href="{% url 'create_new' %}">Add A Book</a> |
            <a href="{% url 'magazines_list' %}">List of Magazines</a> |
            <a href="{% url 'create_new_magazine' %}">Add A Magazine</a> |
            <br><br>
            <a href="{% url 'admin:index' %}">Admin Login</a> |
            <a href="{% url 'login' %}"> Login</a> |
            <a href="{% url 'logout' %}"> Logout</a> |
            <br>
        </nav>
    </header>

    <main>
        {% for genre in genres %}
        <div>
            <p><u>
                    <h1>{{ genre.name }}</h1>
                </u></p>

            {% for magazine in genre.magazines.all %}
            <img src={{magazine.image}} height="100px">
            <h2> <a href="{% url 'magazine_detail' magazine.pk %}">{{magazine.title}}</a>
            </h2><br><br>
            {% endfor %}


            {% for book in genre.books.all %}
            <img src={{book.image}} height="100px">
            <h2> <a href="{% url 'book_detail' book.pk %}">{{book.title}}</a>
            </h2>
            <br><br>

            {% endfor %}
        </div>
        {% endfor %}

    </main>
    <br><br>
    <footer>
        <p><b>Copyright 2022 by me</b></p>
        <p>This is my site that contains
            all of books that I would like
            to recommend you.</p>
    </footer>
</body>

</html>