{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{head}}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'show_genres' %}">Genres</a> |
            <a href="{% url 'books_list' %}">List of Books</a> |
            <a href="{% url 'create_new' %}">Add A Book</a> |
            <a href="{% url 'magazines_list' %}">List of Magazines</a> |
            <a href="{% url 'create_new_magazine' %}">Add A Magazine</a> |
            <br><br>
            <a href="{% url 'admin:index' %}">Admin Login</a> |
            <a href="{% url 'login' %}"> Login</a> |
            <a href="{% url 'logout' %}"> Logout</a> |
            <br>
        </nav>
    </header>
    <main>
        <h1><u>Add a Book</u></h1>
        <p>Please either add an author or select another from the list.</p>
        <form method="POST" enctype="multipart/form-data">
            <!-- Security token -->
            {% csrf_token %}
            <!-- Using the formset -->
            {{ form2.as_p }}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>




    </main>

    <footer>
        <p><b>Copyright 2022 by me</b></p>
        <p>This is my site that contains
            all of books that I would like
            to recommend you.</p>
    </footer>
</body>

</html>