{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Reviews</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>

    <body>
        <header>
        </header>
        <main>
            <div>
                <h1>Reviews by {{ user.username }}</h1>
                <hr>
                {% for review in reviews %}
                <h3>{{ review.book.title }}</h3>
                <p>{{ review.text }}</p>
                <hr>
                {% endfor %}

            </div>
        </main>
    </body>

</html>